@font-face {
  font-family: "Sea";
  src: local("Sea") url("./fonts/Sea.ttf") format("truetype");
}

@font-face {
  font-family: "JB";
  src: local("JB") url("./fonts/JB.ttf") format("truetype");
}

@font-face {
  font-family: "OstrichSans-Black";
  src: url("./fonts/OstrichSans-Black.otf") format("opentype");
}

@font-face {
  font-family: "OstrichSans-Bold";
  src: url("./fonts/OstrichSans-Bold.otf") format("opentype");
}
