.footer {
  position: relative;
  margin-top: auto;
  min-height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: black;
}

.ownerButton {
  margin-left: 4vh;
  color: white;
  background-color: transparent;
  letter-spacing: 2px;
  cursor: pointer;
  border: none;
  outline: none;
  @media (max-width: 768px) {
    font-size: 1.25em;
  }
}

.ownerButton a,
.ownerButton a:visited {
  text-decoration: none;
}

.contactContainer {
  display: flex;
  align-items: center;
  margin-right: 2vh;
}

.contactLabel {
  font-size: 1.5em;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  @media (max-width: 768px) {
    color: black;
    font-size: .75em;
  }
}

.item {
  width: 5.5vh;
  height: 5.5vh;
  background-color: white;
  text-align: center;
  font-size: 3.5vh;
  margin-right: 2vh;
  margin-left: 2vh;
  display: flex;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3.5px solid white;
  z-index: 1;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.icon {
  margin: 0;
  padding: 0;
  position: relative;
  color: black;
  transition: 0.5s;
  z-index: 3;
}

.item:hover .icon {
  transform: rotateY(360deg);
}

.item:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  transition: 0.5s;
  z-index: 2;
}

.item:hover:before {
  top: 0;
}
