.album-details {
  max-width: 1200px;
  margin: 0 auto;
}
.container {
  padding: 30px;
}

h2 {
  margin: 0;
  padding-bottom: 20px;
  color: #333;
  font-size: 2em;
}

p {
  color: #666;
  font-size: 1.2em;
}

