.login-page {
  display: flex;
  align-items: center; /* Centers content along the vertical line */
  justify-content: center; /* Centers content along the horizontal line */
  height: 100%; /* Takes up full height of its parent */
  font-family: 'Roboto', sans-serif;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* New rule to center items */
  height: 50%; 
  min-width: 350px; 
  padding: 50px;
  background-color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%; 
  max-width: 400px; 
}

.login-form label {
  font-weight: bold;
  margin: 10px 0;
  font-family: 'Roboto', sans-serif;
}

.login-form input {
  padding: 3px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 18px; 
}

.login-btn {
  background-color: black;
  color: white;
  padding: 15px; 
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 18px;
  width: 100%; /* Adjust to match input width */
  max-width: 200px; /* Limit the width of the button */
  margin: 0 auto; /* Center the button horizontally */
}

.login-btn:hover {
  background-color: #ffb6c1;
}
