.aboutContainer{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 10vh);
}

.aboutContent {
  padding-left: 10vh;
  padding-right: 10vh;
  padding-top: 5vh;
}

.aboutContent p {
  font-family: "courier new";
  color: white;
  font-size: 1.5em;
  line-height: 2;
}
