.aboutContainer {
  display: flex;
  flex-direction: column;
}

.aboutContent {
  padding-left: 10vh;
  padding-right: 10vh;
  padding-top: 5vh;
}

.aboutContent p {
  color: white;
  font-size: 1.5em;
  line-height: 2;
}
