@font-face {
  font-family: "OstrichSans-Black";
  src: url("../fonts/OstrichSans-Black.otf") format("opentype");
}

.album {
  margin: 0 auto;
}

.container {
  padding: 2.5vh;
}

.container img {
  width: auto;     
  height: 350px;   
  max-width: 100%;  
}

.galleryImage {
  display: inline-block;  
  vertical-align: top;    
  border: 0.5px solid black;
  margin: 0.5vh;
  overflow: hidden;  
}

.galleryImage:hover {
  cursor: pointer;
}

.albumTitle {
  font-family: "OstrichSans-Black";
  color: black;
  font-size: 3em;
  text-shadow: 0.35px 1.25px 1.25px grey;
  letter-spacing: 0.05em;
}

.albumInfo {
  font-family: "OstrichSans-Black";
  color: grey;
  font-size: 2em;
}
