.albumGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  gap: 15px;
  flex: 1 0 auto;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.album {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  width: 100%;
  @media (max-width: 768px) {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2.5px;
    padding-top: 2.5px;
  }
}

.albumLink {
  display: block;
  width: 100%;
  height: 100%;
}

.albumImage {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: 34.75vw;
  height: 34.75vw;
  width: 100%;
  padding-bottom: 100%;
  border: 0.25px solid grey;
}

.albumImage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.albumImage video {
  position: absolute;
  object-fit: cover;
}

.albumDescription {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.35s ease;
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(2.75vw);
  text-align: center;
  box-sizing: border-box;
  font-family: "times new roman";
  text-shadow: 1.35px 1.35px 0.85px black;
  letter-spacing: 0.15em;
  -webkit-text-stroke: 0.55px black;

  @media (max-width: 768px) {
    font-size: calc(7.5vw);
  }
}

.albumImage:hover .albumDescription {
  opacity: 1;
}
