.album {
  max-width: 100%;
  margin: 0 auto;
}

.container {
  padding: 30px;
  box-shadow: 4 4 10px rgba(0, 0, 0, 0.15);
}

.container img {
  max-width: 100%;
  box-shadow: 4 4 10px rgba(0, 0, 0, 0.15);
}

p {
  color: #666;
  font-size: 1.2em;
}
