.album {
  margin: 0 auto;
}

.container {
  padding: 2.5vh;
  display: flex;
  flex-direction: column; 
  align-items: center;      
  flex-wrap: wrap;
}

.container img {
  width: auto;
  height: auto;
  max-width: 100%;
}

.galleryImage {
  display: inline-block;
  vertical-align: top;
  margin: 0.5vh;
  overflow: hidden;
  max-width: 100%;
  
}

.galleryImage:hover {
  cursor: pointer;
}

.albumTitle {
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;      
  width: 100%;              
}

.albumInfo {
  color: grey;
  font-size: .75em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;       
  width: 100%;              
  margin-bottom: 1.5vh;     
}

.mediaContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.album {
  margin: 0.5vh;
  overflow: hidden;
}

.portrait {
  flex: 0 0 calc(50% - 1vh); 
}

.landscape {
  flex: 0 0 100%;  
}

