@font-face {
  font-family: "OstrichSans-Black";
  src: url("../fonts/OstrichSans-Black.otf") format("opentype");
}

.album {
  max-width: 100%;
  margin: 0 auto;
}

.container {
  padding: 2.5vh;
}

.container img {
  max-width: 100%;
}

.galleryImage {
  border: 0.5px solid black;
  margin: 0.5vh;
  box-shadow: 10px black;
}

.albumTitle {
  font-family: "OstrichSans-Black";
  color: black;
  font-size: 3em;
  text-shadow: 0.35px 1.25px 1.25px grey;
  letter-spacing: 0.05em;
}

.albumInfo {
  font-family: "OstrichSans-Black";
  color: grey;
  font-size: 2em;
}
