.album {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.albumLink {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.albumImage {
  position: relative;
  width: calc(100%-11px);
  overflow: hidden;
  box-sizing: border-box;
  padding: 5px;
  border: .5px solid grey;
  background-color: white;
}

.albumImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.albumDescription {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "OstrichSans-Bold";
  font-size: calc(2.75vw);
  text-align: center;
  box-sizing: border-box;
  padding: 15px;
}

.albumImage:hover .albumDescription {
  opacity: 1.5;
}

