.container {
  background-color: #f9f7f6;
  overflow: auto;
}

.dashContainer {
  flex: 1;
  justify-content: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}

.dashForm {
  position: relative;
  padding: 15px 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 25px;
  width: 75%;
}

.dashUploadInput {
  display: block;
  width: 475px;
  color: black;
}

.dashLabel {
  display: block;
  margin: 3vh;
  width: 475px;
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
}

.dashSelect {
  width: 450px;
  font-size: 2.5vh;
  height: 5vh;
  color: black;
  border: 0.5px solid black;
  box-shadow: 0 0 2.5px grey;
  margin-bottom: 1vh;
}

.dashButton {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  width: 200px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: black;
  box-shadow: inset 0 0 0 2px black;
  background-color: transparent;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
}

.selectContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.dashButton:hover {
  color: #fff;
  background-color: black;
}

.deleteButton {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  width: 250px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: red;
  box-shadow: inset 0 0 0 2px red;
  background-color: transparent;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.deleteButton:hover {
  color: #fff;
  background-color: red;
}

.progressBar {
  background: white;
  border: 2px solid black;
  width: 475px;
  height: 5vh;
  margin: 2.5vh;
  border-radius: 8px;
  overflow: hidden;
}

.labelText {
  color: black;
  font-size: 1.75em;
  letter-spacing: 0.1em;
}

.photoVideoSwitch input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.photoVideoSwitch {
  --size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  clear: both;
}

.photoVideoSwitch label {
  display: inline-block;
  width: var(--size);
  height: calc(var(--size) / 2);
  box-sizing: border-box;
  border: 3px solid;

  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: 0.75s ease;
  color: black;
}

.photoVideoSwitch input[type="checkbox"]:checked + label {
  background: #e0e0e0;
}

.photoVideoSwitch input[type="checkbox"]:checked + label:before {
  left: calc(var(--size) / 2);
}

.photoVideoSwitch label:before {
  transition: 0.3s ease;
  content: "";
  width: calc((var(--size) / 2) - 10px);
  height: calc((var(--size) / 2) - 10px);
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: black;
  border-radius: 50%;
}

.switchLabel {
  display: inline-block;
  margin: 15px;
}

.dashInputLabel {
  color: black;
  align-items: center;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  transition: 0.2s;
  margin-bottom: 50px;
}

.dashInputField {
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border: 2px solid black;
  border-radius: 10px;
  outline: 0;
  font-size: 1.3rem;
  padding: 6px 0;
  background: transparent;
  background-color: white;
  transition: border-color 0.2s;
  margin-bottom: 15px;
  width: 65%;
  text-align: center;
}

.dashInputField::placeholder {
  color: transparent;
}

.dashInputField:placeholder-shown ~ .dashInputLabel {
  cursor: text;
  top: 20px;
}

.dashInputField:focus ~ .dashInputLabel,
.dashInputField:not(:placeholder-shown) ~ .dashInputLabel {
  top: -15px;
}

.dashInputField:focus {
  padding-bottom: 6px;
  border-image: black;
  border-image-slice: 1;
}

.dashInputField:required,
.dashInputField:invalid {
  box-shadow: none;
}

.dashImageContainer {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 25vh;
  overflow-x: auto;
  scrollbar-width: thick;
  scrollbar-color: grey #616467;
  border: 2px solid black;
  border-radius: 8px;
  margin-bottom: 3vh;
}
