.albumEditContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.albumEditSelect {
  width: 100%;
  margin-bottom: 20px;
}

.albumEditForm {
  width: 100%;
  margin-bottom: 20px;
}

.albumEditImageSelector {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.albumEditImageSelector .albumEditImage {
  max-width: 100px;
  height: auto;
  margin: 10px;
  cursor: pointer;
}

.albumEditButton {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.albumEditButton:hover {
  color: white;
}
