.footer {
  position: relative;
  margin-top: auto;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.loginButton {
  margin-left:5vh;
  font-size: 1.5em;
  color: white;
  background-color: transparent;
  cursor: pointer;
  font-family: "times new roman";
  text-decoration: none;
  letter-spacing: 0.1em;
  border: none;
  outline: none;
}

.loginButton a,
.loginButton a:visited {
  color: white;
  text-decoration: none;
}

.loginButton span {
  color: white;
  text-shadow: 1.35px 1.35px 0.85px black;
  -webkit-text-stroke: .5px black;
}

.loginButton:hover {
  color: black;
  background-color: white;
  transition: 0.4s;
}

.contactContainer {
  display: flex;
  align-items: center;
  margin-right: 2.5vh;
}

.contactLabel {
  margin-right: 0.1vh;
  color: white;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  width: 6vh;
  height: 6vh;
  background-color: white;
  text-align: center;
  line-height: 6vh;
  font-size: 3.5vh;
  margin-right: 2.5vh;
  display: flex;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3.5px solid white;
  z-index: 1;
  justify-content: center;
  align-items: center;
  line-height: normal;
  text-decoration: none;
}

ul li a .icon {
  position: relative;
  color: black;
  transition: 0.5s;
  z-index: 3;
}

ul li a:hover .icon {
  color: white;
  transform: rotateY(360deg);
}

ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  transition: 0.5s;
  z-index: 2;
}

ul li a:hover:before {
  top: 0;
}

ul li:nth-child(1) a:before {
  background: pink;
}

ul li:nth-child(2) a:before {
  background: pink;
}
