.header {
  position: sticky;
  height: 10vh;
  top: 0;
  z-index: 2;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1vh;
  flex-wrap: wrap;
}

.headerTitleContainer {
  color: white;
  flex-direction: column;
  text-shadow: 0.25px 1px 1px grey;
  font-family: "courier new";
  font-size: calc(1rem + 2vw);
  letter-spacing: 0.25em;
  max-width: 50%;
}

.headerNav {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 50%;
}

.headerNavLink,
.headerNavButton {
  font-family: "courier new";
  font-size: 1.5em;
  letter-spacing: 0.15em;
  text-align: center;
  text-shadow: 1px 1px 1px grey;
  text-decoration: none;
  color: white;
}

.headerNavButton {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

@media (max-width: 768px) {
  .headerTitleContainer {
    font-size: calc(1rem + 2vw);
  }

  .headerNavLink,
  .headerNavButton {
    font-size: 1.75em;
  }
}
