.header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  background-position: center 40%;
  background-repeat: no-repeat;
  background-size: cover;
  border-left: 0.5px solid grey;
  border-top: 0.5px solid grey;
  border-right: 0.5px solid grey;
}

.header__titleContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  margin: 0;
  color: black;
  font-family: "OstrichSans-Black";
  font-weight: 900;
  font-size: calc(1rem + 3vw);
  letter-spacing: 0.5em;
}

.header__dropdownBtn {
  cursor: pointer;
  height: 9vw;
  display: block;
  max-width: 100%;
  padding-right: 2%;
}

.header__navLinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1.5px solid white;
}

.header__navLinks li {
  display: inline-block;
}

.header__navLinks a,
.header__dropdownContent button {
  text-decoration: none;
  color: black;
  padding: 12px 16px;
  display: block;
}

.header__dropdown {
  position: relative;
  display: inline-block;
}

.header__dropdownContent {
  display: none;
  position: absolute;
  right: 15px;
  background-color: white;
  min-width: 250px;
  z-index: 1;
  transition: all 0.3s ease-out;
  font-family: "Sea";
  font-weight: 900;
  font-size: 1.75em;
  letter-spacing: 0.25em;
  text-align: center;
  text-shadow: 1px 1px 1px grey;
  box-shadow: 0 1px 2.5px grey;
  border: .5px solid black;
}

.header__dropdownContent a:hover,
.header__dropdownContent button:hover {
  color: white;
  background-color: black;
  text-shadow: 1px 1px 1px grey;
}

.header__dropdown:hover .header__dropdownContent {
  display: block;
}

.header__dropdownContent button.header__dropdownButton {
  background: none;
  border: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: black;
  cursor: pointer;
  width: 100%;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  outline: none;
  text-align: center;
  letter-spacing: inherit;
  text-shadow: 1px 1px 1px grey;
}

.header__dropdownContent button.header__dropdownButton:hover {
  color: white;
  background-color: black;
  text-shadow: 1px 1px 1px grey;
}
