body {
  overflow: hidden;
}

.landingContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -100;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  position: absolute;
  top: 0;             
  left: 0;
}

.landingButtonEnter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 3em;
  background-color: transparent;
  cursor: pointer;
  font-family: "times new roman";
  text-decoration: none;
  letter-spacing: 0.2em;
}

.landingButtonEnter a,
.landingButtonEnter a:visited {
  color: white;
  text-decoration: none;
}

.landingButtonEnter span {
  color: white;
  text-shadow: 1.35px 1.35px 0.85px black;
  -webkit-text-stroke: 0.5px black;
}
