.modalBackground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  padding: 40px 20px 20px;
  background-color: #f7f0ee;
  border: 2px solid #f7f0ee;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.75);
  position: relative;
}

@mixin cross($size: 10px, $color: currentColor, $thickness: 1px) {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: $size;
  height: $size;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: ($size - $thickness) / 2;
    left: 0;
    right: 0;
    height: $thickness;
    background: $color;
    border-radius: $thickness;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  span {
    display: block;
  }
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  border: 0;
  padding: 0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  background: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms;

  .iconCross {
    @include cross(20px, #fff, 3px);
  }

  &:hover,
  &:focus {
    transform: rotateZ(90deg);
    background: black;
  }
}

.formGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 45px;
}

.formField {
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border: 2px solid black;
  border-radius: 10px;
  outline: 0;
  font-size: 1.3rem;
  padding: 6px 0;
  background: transparent;
  background-color: white;
  transition: border-color 0.2s;
  margin-bottom: 15px;
  width: 65%;
  text-align: center;
}

.formField::placeholder {
  color: transparent;
}

.formField:placeholder-shown ~ .formLabel {
  cursor: text;
  top: 20px;
}

.formField:focus ~ .formLabel,
.formField:not(:placeholder-shown) ~ .formLabel {
  top: -15px;
}

.formLabel {
  color: black;
  align-items: center;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  transition: 0.2s;
  margin-bottom: 50px;
}

.formField:focus {
  padding-bottom: 6px;
  border-image: black;
  border-image-slice: 1;
}

.formField:required,
.formField:invalid {
  box-shadow: none;
}

.loginButton {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  width: 200px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: black;
  box-shadow: inset 0 0 0 2px black;
  background-color: transparent;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
}

.loginButton:hover {
  color: #fff;
  background-color: black;
}
